#citruscartUserShoppingCart{
		
}
#citruscartUserShoppingCart
.CartItems,
.CartTotal,
.CartView,
.CartCheckout{
		padding: 5px;
		
}
#citruscartUserShoppingCart a{
color:#FFC20F;	
}
span.qty, span.CartTotal span {
    font-weight: bold;
}

/* BLOCK CART */

div#citruscartUserShoppingCart {
    
}

span.CartItems, span.CartTotal {
    display: block;
}
span.CartItems {
	
}
span.CartTotal {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
} 

span.CartView {
	display: block;
    float: left;
    width: 65%;
    text-align: left;
}

span.CartCheckout {
    display: block;
    float: right;
    width: 35%;
    text-align: right;
}

div.reset {
    clear: both;
}

/* INLINE CART */ 

/* 
div#CitruscartUserShoppingCart {
    float: left;
    width: 74%; 
    margin-top: 0;
    text-align: center !important;
}

span.CartItems {
    margin: 0;
    padding: .6em 1em;
    border-right: 1px solid #cccccc;
}
span.CartTotal {
    margin: 0;
    padding: .6em 1em;
    border-right: 1px solid #cccccc;
}
span.CartView {
    margin: 0;
    padding: .6em 1em;
    border-right: 1px solid #cccccc;
}
span.CartCheckout {
    margin: 0;
    padding: .6em 1em;
}
div.reset {
    clear: none;
}
*/
