#citruscart-mod-price_filter{
	margin-top:-15px;	
}

#citruscart_pricefilter_mod {		
	list-style: none;
}

#citruscart_pricefilter_mod, #citruscart_pricefilter_mod li.range {
	margin: 0px;
	padding: 0px;
}

#citruscart_pricefilter_mod li.range, #citruscart_pricefilter_mod li.emptyfilter{
	display:block;	
	/*border-bottom: 1px solid #EDEDED; */	
	border-bottom:1px solid #2CB1B1;
	
}

#citruscart_pricefilter_mod li.selected, #citruscart_pricefilter_mod li.range:hover {
	/*border-bottom: 1px solid #D3D3D3; */
	/*background-color: #EDEDED; */
	background-color :#2CB1B1;
	
}

#citruscart_pricefilter_mod li {

	display:block;
	line-height: 25px;
	text-decoration: none;
}
#citruscart_pricefilter_mod li a {		
	color: #646464;
}

#citruscart_pricefilter_mod li.selected a, #citruscart_pricefilter_mod li.range:hover a{	
	color: #aa1428;	
}

#citruscart_pricefilter_mod li.range span {			
	font-weight: normal;
}


