#Citruscart_categories_mod .level1 {}
#Citruscart_categories_mod .level2 {margin-left: 5px;}
#Citruscart_categories_mod .level3 {margin-left: 10px;}
#Citruscart_categories_mod .level4 {margin-left: 15px;}
#Citruscart_categories_mod .level5 {margin-left: 20px;}