#citruscart_categories_mod {
	margin-top:-55px;
	}
 #citruscart_categories_mod li
 {
 	border-bottom:1px solid #ccc;
 }

 #citruscart_categories_mod .level1 {
	margin-top:5px;
	border-bottom:1px solid #ccc;
}

#citruscart_categories_mod .level2 {margin-left: 5px;}
#citruscart_categories_mod .level3 {margin-left: 10px;}
#citruscart_categories_mod .level4 {margin-left: 15px;}
#citruscart_categories_mod .level5 {margin-left: 20px;}