div.citruscart_products_grid div.citruscart_product_item {
	float: left;
}
div.citruscart_products_grid div.citruscart_product_item.grid2 {
	width: 47%;
	margin-right: 5%;
}
div.citruscart_products_grid div.citruscart_product_item.grid3 {
	width: 30%;
	margin-right: 5%;
}
div.citruscart_products_grid div.citruscart_product_item.grid4 {
	width: 22%;
	margin-right: 3%;
}
div.citruscart_products_grid div.citruscart_product_item.grid5 {
	width: 17%;
	margin-right: 3%;
}
div.citruscart_products_grid div.citruscart_product_item.grid6 {
	width: 13%;
	margin-right: 4%;
}

.popular_products {
	display:inline-flex;
}
citruscart_products_image_list{
	text-align:center;
	
}